/**
 * Application styling
 */
body {
	background-color: $grey-lightest;
	font-family: Roboto, sans-serif;
}

.app {
	&__wrapper {
		margin: 0 auto;
		width: 1000px;
		padding: 15px 0;

		@media (min-width: 1320px) {
			width: auto;
			min-width: 1000px;
			max-width: 1500px;
		}
	}

	&__sidebar {
		float: left;
		width: 300px;
	}

	&__content {
		width: 700px;
		float: left;

		@media (min-width: 1320px) {
			width: auto;
			min-width: 700px;
			max-width: 1000px;
		}
	}
}
