/**
 * Application styling
 */
body {
	background-color: $grey-lightest;
	font-family: Roboto, sans-serif;
}

.app {
	&__wrapper {
		margin: 0 auto;
		width: 1000px;
		padding: 15px 0;
	}

	&__sidebar {
		float: left;
		width: 300px;
	}

	&__content {
		width: 700px;
		float: left;
	}
}
