/**
 * Add button component
 */
.add-btn {
	display: flex;
	align-items: flex-start;
	padding: 3%;

	&__text {
		display: inline-block;
		margin-left: 10px;
		font-size: 14px;
		font-weight: 600;
	}
}
