/**
 * Message input component
 */
.client-input {
	margin-top: 25px;
	padding: 15px 20px;
	@include arrow(lighten($grey-light, 30%), 15px, 'top');

	&--hidden {
		display: none;
	}

	&__field {

		&__btn {
			float: right;

			span {
				font-size: 12px !important;
			}
		}
	}

	&__input {
		margin-left: 10px;

		input {
			width: 250px;
		}
	}
}
