/**
 * Client-list component
 */
.client-list {
	margin: 15px 10px;
	
	&__table {

		&--body {
			overflow: visible;
		}

		&--header {
			width: 30%;
		}

		&--row {
			width: 30%;
		}

		&--icon {
			padding: 0px !important;
		}

		&--icon button {
			width: 28px !important;
			height: 28px !important;
		}
	}
}
