/**
 * Header component
 */
.clientlist {
	&__table {

		&--header {
			width: 30%;
		}

		&--row {
			width: 30%;
		}

		&--icon {
			width: 17%;
		}

		&--btn {
			width: 0px !important;
			padding-left: 20px !important;
		}
	}
}