/**
 * Client-list component
 */
.client-list {
	&__table {

		&--body {
			overflow: visible;
		}

		&--header {
			width: 30%;
		}

		&--row {
			width: 30%;
		}

		&--icon {
			width: 17%;
			overflow: visible !important;
		}

		&--btn {
			width: 0px !important;
			padding-left: 20px !important;
		}
	}
}
