/**
 * Status-select component
 */
.status-select {
	width: 110px !important;
	font-size: 12px;

	&__icon {
		padding: 0;
		width: 20px;
	}

	&__item {
		font-size: 12px !important;
		height: 10px !important;
	}
}
