/**
 * Ticket component
 */
.ticket {
	width: 290px;
	position: relative;
	margin: 0 10px 20px 10px;

	&__color {
		position: absolute;
		top: 0;
		height: 10px;
		width: 100%;

		&--red {
			background-color: $red;
		}

		&--blue {
			background-color: $blue;
		}

		&--green {
			background-color: $green;
		}
	}

	&__id {
		position: absolute;
		right: 15px;
		top: 14px;
		font-size: 13px;
	}

	&__header {
		max-width: 90%;
		display: block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&__title {
			margin-top: 10px !important;
			font-weight: bold !important;
			font-size: 14px !important;
		}

		&__subheader {
			font-size: 12px !important;
		}
	}

	&__content {
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		&__information {
			margin: 0;
			padding: 0;
			font-size: 12px;
			color: $grey;

			&--bold {
				font-weight: bold;
			}
		}
	}

	&__actions {
		padding-top: 0;
		float: right;
	}

	&__badge {
		> span {
			top: 5px;
			right: 0;

			> svg {
				height: 0.5em;
			}
		}
	}
}
